<h1><%= t("event_list") %></h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <%#= link_to event.name, event_path(event) %> <%#= event.created_at.strftime("%Y/%m/%d %I:%M %p") %>
      <%= link_to event.name, event_path(event) %> <%= event.created_at.to_s %>
    </li>
  <% end %>
</ul>

<% if 5 >= 4 %>
  <h1>Yes</h1>
<% else %>
  <h1>No</h1>
<% end %>